$cd-btn: #011c37;
$cd-txt: #15DEA5;

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.btn {
    background: $cd-btn;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    /*
    transition-property: transform;
    transition-duration: 400ms;
    */
    transition: transform 400ms; // = transition-property: + transition-duration: 
    &:hover {
        transform: scale(1.15);
    }
}